###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# Variables d'environnement (contient des secrets)
/.env
/.env.dev
/.env.prod

# Uploads utilisateurs
/public/uploads/*
!/public/uploads/.gitkeep

# macOS
.DS_Store
